In [1]:
import pandas as pd
from sqlalchemy import create_engine
from password import password

In [2]:
# read game_goalie_stats csv to df
goalie_stats_file = "data/game_goalie_stats.csv"
game_goalie_df = pd.read_csv(goalie_stats_file)
game_goalie_df.head(5)

,game_id,player_id,team_id,timeOnIce,assists,goals,pim,shots,saves,powerPlaySaves,shortHandedSaves,evenSaves,shortHandedShotsAgainst,evenShotsAgainst,powerPlayShotsAgainst,decision,savePercentage,powerPlaySavePercentage,evenStrengthSavePercentage
0,2016020045,8473607,4,1504,0,0,0,16,12,1,0,11,0,13,3,NaN,75.000000,33.333333,84.615385
1,2016020045,8473461,4,2011,0,0,0,11,9,1,0,8,0,10,1,L,81.818182,100.000000,80.000000
2,2016020045,8470645,16,3598,0,0,0,27,23,2,0,21,0,23,4,W,85.185185,50.000000,91.304348
3,2017020812,8468011,24,3696,0,0,0,33,30,1,2,27,3,28,2,W,90.909091,50.000000,96.428571
4,2017020812,8475215,7,3539,0,0,0,33,29,4,1,24,1,27,5,L,87.878788,80.000000,88.888889

In [3]:
game_plays_players_file = "data/game_plays_players.csv"
game_plays_players_df = pd.read_csv(game_plays_players_file)
game_plays_players_df.head(5)

        play_id     game_id  player_id playerType
0  2016020045_4  2016020045    8473604     Winner
1  2016020045_4  2016020045    8473512      Loser
2  2016020045_5  2016020045    8473573    Shooter
3  2016020045_5  2016020045    8473607     Goalie
4  2016020045_6  2016020045    8474141     Scorer

In [4]:
player_info_file = "data/player_info.csv"
player_info_df = pd.read_csv(player_info_file)
player_info_df.head(5)

,player_id,firstName,lastName,nationality,birthCity,primaryPosition,birthDate,birthStateProvince,height,height_cm,weight,shootsCatches
0,8466148,Marian,Hossa,SVK,Stará Lubovna,RW,1979-01-12 00:00:00,NaN,"6' 1""",185.42,207.0,L
1,8465058,Michal,Rozsival,CZE,Vlasim,D,1978-09-03 01:00:00,NaN,"6' 1""",185.42,210.0,R
2,8476906,Shayne,Gostisbehere,USA,Pembroke Pines,D,1993-04-20 01:00:00,FL,"5' 11""",180.34,180.0,L
3,8466285,Brian,Campbell,CAN,Strathroy,D,1979-05-23 01:00:00,ON,"5' 10""",177.80,192.0,L
4,8470607,Brent,Seabrook,CAN,Richmond,D,1985-04-20 01:00:00,BC,"6' 3""",190.50,220.0,R

In [6]:
# create connector
#rds_connection_string = f"postgres:{password}@localhost:5432/hockey_db"
#engine = create_engine(f'postgresql://{rds_connection_string}')
# display tables in database

engine = create_engine(f'postgresql://postgres:{password}@localhost:5432/hockey_db')

# display tables in database
engine.table_names()

['game_goalie_stats', 'player_info', 'game_plays_players']